.Project{
    background-image: url(../../imgs/EniBack.jpg);
}

.project-about{
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding-bottom: 8rem;
}

.project-about a{
    color: rgb(62, 62, 148);
    text-decoration: underline;
}

.project-about h3{
    text-align: center;
}