:root{
    --primary-color: rgba(101, 24, 98, 1);
}

.ResumeCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.card-details{
    background-color: rgba(101, 24, 98, 1);
    color: white;
    box-sizing: border-box;
    padding: 3rem;
    height: 220px;
    width: 50vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-img{
    height: 220px;
}

.ResumeCards img{
    width: 300px;
}

.details-flexer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.timeline{
    opacity: 0.8;
}

@media screen and (max-width: 760px) {
    .card-details{
        padding: 1rem;
        width: 300px;
        position: relative;
        top: -4px;
        height: auto;
    }

    .card-img{
        height: 150px;
        object-fit: cover;
    }
}