.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
    z-index: 20;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

a{
    text-decoration: none;
    color: inherit
}

.navbar-name{
    z-index: 300;
}

.big-font{
    font-size: 38px;
    font-weight: 400;
    height: 36px;
}

.normal-font{
    padding: 0px;
    letter-spacing: 7px;
}

.navbarlink{
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.navbar-routes{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-link{
    padding: 5px;
    color: rgba(71, 35, 69, 0.6);
}

.navbar-link:hover{
    border: 1px solid rgba(71, 35, 69, 0.6);
    padding: 4px;
    background: #ecebeb;
    color: rgba(71, 35, 69, 0.6);
}

.hamburger{
    display: none;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all ease-in-out;
    background-color: black;
}

#dropdown{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.4s;
    text-align: center;
}

.resume-link{
    padding: 2px;
    display: flex;
    align-items: center;
    color: rgba(71, 35, 69, 0.6);
}

.resume-link span{
    padding: 5px;
    display: flex;
    margin: auto;
}

.resume-link:hover{
    border: 1px solid rgba(71, 35, 69, 0.6);
    padding: 1px;
}
.resume-link:active{
    transform: scale(0.9);
}

#dropdown{
    display: none;
}

#dropdown.active{
    display: contents;
    transition: 0.3s all;
}


@media screen and (max-width: 768px) {
    .navbar-routes{
        flex-direction: column;
        position: fixed;
        left: -120%;
        height: 100vh;
        border-radius: 5px;
        text-align: left;
        transition: 0.3s;
        background-color: #f2f2f2;
        padding: 15px;
        padding-top: 100px;
        z-index: 100;
        align-items: flex-start;

    }   
    
    .navbar-routes.active{
        left: 0;
        bottom: 0;
        top: 0;
        right: 30%;
    }

    #dropdown{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 0.5rem;
        transition: all 0.4s;
        text-align: left;
        padding-bottom: 10px; 
        padding-left: 20px;
    }

    #dropdown{
        display: none;
    }
    
    #dropdown.active{
        display: flex;
        transition: 0.3s all;
        padding-left: 20px;
    }
    
    .hamburger{
        display: block;
        cursor: pointer;
        padding: 10px;
        color: rgb(37, 48, 111);
        z-index: 1000;

    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    #dropdown{
        flex-direction: column;
    }
}